[submodule "client"]
	path = client
	url = https://github.com/JuStPiNkCoDeR/test_aspirity_client
[submodule "server"]
    path = server
    url = https://github.com/JuStPiNkCoDeR/test_aspitiry_server
